@import "helpers/mixins";

$puff-img: url(img/Puff-Sprite_L.png);
$spacer-img: url(img/Spacer-Sprite_L.png);
$ani-size: 400px;
$w-but:108px;
$h-but:20px;

#container{
	margin-top:100px;
	display:flex;
	justify-content:center;
}

.sec{
	display:flex;
	flex-direction:column;
	align-items: center;
}

#puff{
 @include ani-dim($ani-size);
 background-image:$puff-img;
}

#spacer{
	@include ani-dim($ani-size);
	background-image: $spacer-img;
}

#button-puff{
	@include button-dim($h-but, $w-but);
}

#button-space{
	@include button-dim($h-but, $w-but);
}
